<div id="menuBiblio" class="btn-group">
  <button type="button" class="btn btn-outline-secondary text-light">Playlists</button>
  <button type="button" class="btn btn-outline-secondary text-light">Artistas</button>
  <button type="button"  class="btn btn-outline-secondary text-light">Álbumes</button>
  <button type="button"  class="btn btn-outline-secondary text-light">Podcasts</button>
  <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
  </form>
</div> 
