<div id="menu">
  <div class="col-9">
    <a class="text-light" routerLink="/VerUsuario" (click)="localVer()">
      <div class="container text-center">
          <img src="assets/portadas/trench.jpg" class="img-responsive" style="width:100px !important; height:100px !important"/>
          <h3>{{identity.nombre}}</h3>
      </div>
    </a>
    <ul ngbNav #nav="ngbNav" class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <li ngbNavItem>
        <a ngbNavLink routerLink="/Principal">Principal
          <img src="assets/home.png" width=20px height=20px padding-left=50px>
        </a>
      </li>
      <li ngbNavItem>
        <a ngbNavLink routerLink="/Buscar">Buscar
          <img src="assets/lupa.png" width=20px height=20px padding-left=50px>
        </a>
      </li>
      <li ngbNavItem>
        <a ngbNavLink routerLink="/Biblioteca">Biblioteca
          <img src="assets/books.png" width=20px height=20px padding-left=50px>
        </a>
      </li>
      <li ngbNavItem>
        <a ngbNavLink routerLink="/Seguidos">Seguidos
          <img src="assets/user.png" width=20px height=20px padding-left=50px>
        </a>
      </li>
      <li ngbNavItem>
        <a ngbNavLink (click)="logout()" >Cerrar sesión</a>
      </li>
    </ul>
    </div>
</div>
