<div id="menu">
  <div class="col-9">
    <ul ngbNav #nav="ngbNav" class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <li ngbNavItem>
        <a ngbNavLink routerLink="/Inicio">Inicio</a>
      </li>
      <li ngbNavItem>
        <a ngbNavLink routerLink="/Buscar">Buscar</a>
      </li>
      <li ngbNavItem>
        <a ngbNavLink routerLink="/Biblioteca">Biblioteca</a>
      </li>
      <li ngbNavItem>
        <a ngbNavLink>Seguidos</a>
      </li>
    </ul>
    </div>
  <div [ngbNavOutlet]="nav"></div>
</div>
