<div id="der">
    <div class="col-lg-8">
        <form class="col-lg-16">
            <p>
                <label>Nombre del álbum:</label>
                <input type="email" name="correo" class="form-control" required />
            </p>
            <p>
                <label>Imagen del álbum:</label>
                <input type="password" name="pass" class="form-control" required />
            </p>
            <input type="submit" value="INICIAR SESIÓN" class="btn btn-success" />
        </form> 
        <br/>
        <br/>
        <form class="col-lg-16">
            <p>
                <label>Nombre del álbum:</label>
                <input type="email" name="correo" class="form-control" required />
            </p>
            <p>
                <label>Imagen del álbum:</label>
                <input type="password" name="pass" class="form-control" required />
            </p>
            <input type="submit" value="INICIAR SESIÓN" class="btn btn-success" />
        </form> 
    </div>
</div>
