<div id="conMenu">
    <div class="col-lg-8">
        <h1 class="h1-strong">{{title}}</h1>
        <br/>
        <form class="col-lg-16">
            <p>
                <label>Correo:</label>
                <input type="email" name="correo" class="form-control" required />
            </p>
            <p>
                <label>Contraseña:</label>
                <input type="password" name="pass" class="form-control" required />
            </p>
            <input type="submit" value="INICIAR SESIÓN" class="btn btn-success" />
        </form> 
        <br/>
        <p>
            <a>¿No tienes cuenta aún?</a>
            <a routerLink="/Registro"> Regístrate</a>
        </p>
    </div>
</div>
