<div class="row">
	<div class="col-sm-3">
		<app-sidebar></app-sidebar>
	</div>
	<div class="col-sm-7">
		<div class="container">
			<h2>Últimas canciones escuchadas...</h2>
				<ul class="list-inline">
					<li class="list-inline-item">
						<a class="text-light" href="/verAlbum">
							<div class="container text-center">
									<h2><i class="fas fa-heart"></i></h2>
									<h2>album</h2>
							</div>
						</a>
					</li>
					<li class="list-inline-item">
						<a class="text-light" href="/verPlaylist">
							<div class="container text-center">
									<h2><i class="fas fa-heart"></i></h2>
									<h2>playlist</h2>
							</div>
						</a>
					</li>
					<li class="list-inline-item">
						<a class="text-light" href="/verUser">
							<div class="container text-center">
									<h2><i class="fas fa-heart"></i></h2>
									<h2>usuario</h2>
							</div>
						</a>
					</li>
					<li class="list-inline-item">
						<a class="text-light" href="/verAlbum">
							<div class="container text-center">
									<h2><i class="fas fa-heart"></i></h2>
									<h2>Patata</h2>
							</div>
						</a>
					</li>
					<li class="list-inline-item">
						<a class="text-light" href="/verAlbum">
							<div class="container text-center">
									<h2><i class="fas fa-heart"></i></h2>
									<h2>Patata</h2>
							</div>
						</a>
					</li>
				</ul>
		</div>
		<div class="container">
			<h2>Tus playlist</h2>


		</div>

	</div>
	<div class="col-sm-2">
		 <div id="opPrin" class="list-group">
			  <a href="/modificar" class="text-center list-group-item list-group-item-action list-group-item-dark">Modificar perfil
			  </a>
			  <a href="/crearPlay" class="text-center list-group-item list-group-item-action list-group-item-dark">Crear playlist
			  </a>
			  <a href="/subirAlb" class="text-center list-group-item list-group-item-action list-group-item-dark">Subir álbum
			  </a>
			  <a href="#" class="text-center list-group-item list-group-item-action list-group-item-dark">Subir podcast
			  </a>
			  <a href="#" class="text-center list-group-item list-group-item-action list-group-item-dark">Borrar playlist
			  </a>
			  <a href="#" class="text-center list-group-item list-group-item-action list-group-item-dark">Eliminar álbum
			  </a>
			  <a href="#" class="text-center list-group-item list-group-item-action list-group-item-dark">Eliminar podcast
			  </a>
		</div> 
	</div>
</div>

<nav class="container fixed-bottom navbar-dark bg-dark">
  <app-reproductor></app-reproductor>
</nav>