<div class="row">
	<div class="col-sm-3">
		<app-sidebar></app-sidebar>
	</div>
	<div class="col-sm-6">
		<div class="container">
			<h2>Últimas canciones escuchadas...</h2>
		</div>
		<div class="container">
			<h2>Tus playlist</h2>
		</div>

	</div>
	<div class="col-sm-3">
		 <div id="opPrin" class="list-group">
			  <a href="/modificar" class="text-center list-group-item list-group-item-action list-group-item-dark">Modificar perfil
			  </a>
			  <a href="/crearPlay" class="text-center list-group-item list-group-item-action list-group-item-dark">Crear playlist
			  </a>
			  <a href="/subirAlb" class="text-center list-group-item list-group-item-action list-group-item-dark">Subir álbum
			  </a>
			  <a href="#" class="text-center list-group-item list-group-item-action list-group-item-dark">Subir podcast
			  </a>
			  <a href="#" class="text-center list-group-item list-group-item-action list-group-item-dark">Borrar playlist
			  </a>
			  <a href="#" class="text-center list-group-item list-group-item-action list-group-item-dark">Eliminar álbum
			  </a>
			  <a href="#" class="text-center list-group-item list-group-item-action list-group-item-dark">Eliminar podcast
			  </a>
		</div> 
	</div>
</div>

<nav class="container fixed-bottom navbar-dark bg-dark">
  <app-reproductor></app-reproductor>
</nav>