<app-sidebar></app-sidebar>
<div class="row">
	<div class="col-sm-10">
		<div id="listaPrinci" class="container" *ngIf="listas">
			<h3>Últimas canciones escuchadas...</h3>
				<ul class="list-inline" >
					<li class="list-inline-item" *ngFor="let lista of listas">
						<a class="text-light" routerLink="/VerPlay" (click)="localL(lista)">
							<div class="container text-center" *ngIf="!lista.foto">
									<img src="assets/portadas/trench.jpg" class="img-responsive" style="width:85px !important; height:85px !important"/>
									<br/><a>{{lista.nombre}}</a>
							</div>
							<div class="container text-center" *ngIf="lista.foto">
									<img src="lista.foto" class="img-responsive" style="width:85px !important; height:85px !important"/>
									<br/><a>{{lista.nombre}}</a>
							</div>
						</a>
					</li>
				</ul>
		</div>

		<div id="listaPrinci" class="container" *ngIf="listas">
			<h3>Tus playlist</h3>
				<ul class="list-inline">
					<li class="list-inline-item" *ngFor="let lista of listas">
						<a class="text-light" routerLink="/VerPlay" (click)="localL(lista)">
							<div class="container text-center" *ngIf="!lista.foto">
									<img src="assets/portadas/laraiz.jpg" class="img-responsive" style="width:85px !important; height:85px !important"/>
									<br/><a>{{lista.nombre}}</a>
							</div>
							<div class="container text-center" *ngIf="lista.foto">
									<img src="lista.foto" class="img-responsive" style="width:85px !important; height:85px !important"/>
									<br/><a>{{lista.nombre}}</a>
							</div>
						</a>
					</li>
				</ul>
		</div>

		<div id="listaPrinci" class="container" *ngIf="albums">
			<h3>Tus albums</h3>
				<ul class="list-inline">
					<li class="list-inline-item" *ngFor="let album of albums">
						<a class="text-light" routerLink="/VerAlbum" (click)="localA(album)">
							<div class="container text-center" *ngIf="!album.foto">
									<img src="assets/portadas/laraiz.jpg" class="img-responsive" style="width:85px !important; height:85px !important"/>
									<br/><a>{{album.nombre}}</a>
							</div>
							<div class="container text-center" *ngIf="album.foto">
									<img src="album.foto" class="img-responsive" style="width:85px !important; height:85px !important"/>
									<br/><a>{{album.nombre}}</a>
							</div>
						</a>
					</li>
				</ul>
		</div>

		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>

	</div>
	<div>
		 <div id="barraIzq" class="list-group">
			  <a id="color" routerLink="/Perfil" class="text-center list-group-item list-group-item-action list-group-item-dark">Modificar perfil
			  </a>
			  <a id="color" routerLink="/CrearPlay" class="text-center list-group-item list-group-item-action list-group-item-dark">Crear playlist
			  </a>
			  <a id="color" routerLink="/SubirAlbum" class="text-center list-group-item list-group-item-action list-group-item-dark">Subir álbum
			  </a>
			  <a id="color" routerLink="/SubirPodcast" class="text-center list-group-item list-group-item-action list-group-item-dark">Subir podcast
			  </a>
			  <a id="color" routerLink="/BorrarPlay" class="text-center list-group-item list-group-item-action list-group-item-dark">Borrar playlist
			  </a>
			  <a id="color" routerLink="/BorrarAlbum" class="text-center list-group-item list-group-item-action list-group-item-dark">Borrar álbum
			  </a>
			  <a id="color" routerLink="/BorrarPodcast" class="text-center list-group-item list-group-item-action list-group-item-dark">Borrar podcast
			  </a>
		</div> 
	</div>
</div>


<nav id="reproductor" class="container fixed-bottom navbar-dark bg-dark">
  <app-reproductor></app-reproductor>
</nav>

