<app-sidebar></app-sidebar>
<div class="row">
	<div class="col-sm-9">
		<div class="container">
			<h2>Sus álbumes...</h2>
				<ul class="list-inline">
					<li class="list-inline-item">
						<a class="text-light" href="/VerPlay">
							<div class="container text-center">
									<img src="assets/portadas/trench.jpg" class="img-responsive" style="width:85px !important; height:85px !important"/>
									<h3>Album 1</h3>
							</div>
						</a>
					</li>
					<li class="list-inline-item">
						<a class="text-light" href="/VerPlay">
							<div class="container text-center">
									<img src="assets/portadas/laraiz.jpg" class="img-responsive" style="width:85px !important; height:85px !important"/>
									<h3>Album 2</h3>
							</div>
						</a>
					</li>
				</ul>
			<h2>Sus podcast...</h2>
				<ul class="list-inline">
					<li class="list-inline-item">
						<a class="text-light" href="/VerPlay">
							<div class="container text-center">
									<img src="assets/portadas/trench.jpg" class="img-responsive" style="width:85px !important; height:85px !important"/>
									<h3>Podcast 1</h3>
							</div>
						</a>
					</li>
					<li class="list-inline-item">
						<a class="text-light" href="/VerPlay">
							<div class="container text-center">
									<img src="assets/portadas/laraiz.jpg" class="img-responsive" style="width:85px !important; height:85px !important"/>
									<h3>Podcast 2</h3>
							</div>
						</a>
					</li>
				</ul>
			<h2>Sus playlist...</h2>
				<ul class="list-inline">
					<li class="list-inline-item">
						<a class="text-light" href="/VerPlay">
							<div class="container text-center">
									<img src="assets/portadas/trench.jpg" class="img-responsive" style="width:85px !important; height:85px !important"/>
									<h3>Playlist 1</h3>
							</div>
						</a>
					</li>
					<li class="list-inline-item">
						<a class="text-light" href="/VerPlay">
							<div class="container text-center">
									<img src="assets/portadas/laraiz.jpg" class="img-responsive" style="width:85px !important; height:85px !important"/>
									<h3>Playlist 2</h3>
							</div>
						</a>
					</li>
				</ul>
			</div>
	</div>
	<div class="col-sm-2 text-center">
		<i class="fas fa-user fa-7x"></i>
		<h4>Sara</h4>
		<button type="button" class="btn btn-dark">Seguir</button>
	</div>

</div>

<!--
<nav class="container fixed-bottom navbar-dark bg-dark">
  <app-reproductor></app-reproductor>
</nav>
-->