<h1 class="h1-strong">{{title}} a {{tituloLista}}</h1>
<br/>
<br/>
<div id="izq" class="col-lg-8">
    <form #subirCancion="ngForm" class="col-lg-16">
        <form #searchForm="ngForm" (ngSubmit)="busqueda(searchForm)" class="form-inline my-2 my-lg-0">
            <input type="search" #search="ngModel" name="search" [(ngModel)]="texto" required class="form-control mr-sm-2" placeholder="Buscar" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" [disabled]="!searchForm.form.valid">Buscar</button>
        </form>
        <br/>
    </form>
    <div id="resultado" class="container">
        <table class="table table-dark table-hover">
            <tbody *ngFor="let res of resultado" >
                <tr (click)="seleccionar(res)">
                    <td><i class="fas fa-music"></i></td>
                    <td>{{res.nombre}}</td>
                    <td>{{res.autor}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="alert alert-danger" *ngIf="status == 'errorB'">
        La canción no existe.
    </div>
    <div class="alert alert-danger" *ngIf="status == 'error'">
        La canción no se ha podido añadir.
    </div>
    <input type="submit reset" value="AÑADIR CANCIÓN" (click)="uploadSong()" class="btn btn-success"/>
</div>


<div id="izq" >
    <div class="container">
        <table class="table table-dark table-hover">
            <thead>
                <tr>
                    <th>Imagen</th>
                    <th>Título</th>
                    <th>Género</th>
                </tr>
            </thead>
            <tbody *ngFor="let song of songs" >
                <tr>
                    <td><i class="fas fa-music"></i></td>
                    <td>{{song.nombre}}</td>
                    <td>{{song.genero}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="alert alert-danger" *ngIf="status == 'errorV'">
        No se puede subir una playlist sin canciones.
    </div>
    <input type="submit" value="Finalizar" (click)="finalizar()" class="btn btn-success"/>
</div>
