<h1 class="h1-strong">{{title}}</h1>
<div id="conMenu">
    <div class="col-lg-8">
        <div class="alert alert-danger" *ngIf="status == 'error'">
            No existe el correo.
        </div>
        <form #subirAlbum="ngForm" (ngSubmit)="onSubmit()" class="col-lg-16">
            <p>
                <label>Correo:</label>
                <input type="text" name="correo" #name="ngModel" class="form-control" [(ngModel)]="album.nombre" required />
                <span *ngIf="!name.valid && name.touched" >El correo es obligatorio.</span>
            </p>

            <br/>
            <input type="submit" value="REESTABLECER" class="btn btn-success" [disabled]="!selectedFiles || !subirAlbum.form.valid" />
        </form> 
    <br/>
        <input type="submit" value="SALIR" routerLink="/Principal" class="btn btn-success"/>
    </div>
</div>