body{
    background-color: #201e1e;
    color: white; 
    font-family: Helvetica;
    font-weight: 200;
}
div#conMenu{
    width: 75%;
    float: right;
}
div#sinMenu{
    width: 100%;
}
div#menu{
    width: 20%;
    float: left;
}
div#izq{
    width: 50%;
    float: left;
    padding-right: 5%;
    padding-left: 5%;
}
div#der{
    width: 50%;
    float: right;
    background-color: #453b3b;
    padding-left: 4%;
    margin-right: 10%;
    padding-right: 10%;
    padding-bottom: 2%;
}
h1{
    text-align: center;
}
div#listaBiblio{
    margin-top: 4%;
    margin-left: 3%;
}
div#menuBiblio{
    margin-left: 15%;
    width: 70%;
}
div#barraIzq{
    margin-right: 0%;
}
a#color{
    color: white; 
    background-color: #0f0f0f;
}
div#cancion{
    color: #000000;
}
div#listAct{
    color: #000000;
}
div#letraP{
    font-size: small;
}
div#celdaBiblio{
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 2%;
    margin-left: 2%;
}
div#listaPrinci{
    margin-top: 7%;
    margin-bottom: 3%;
}
div#navbar{
    width: 65%;
    float: right;
    margin-right: 12%;
}

div#resultado{
    width: 50%;
    float: left;
    margin-right: 2%;
}

div#logo{
    float: center;
    margin-left: 25%;
    margin-right: 25%;
}

tr#selected {
    background-color: #7471cc;
}
nav#reproductor{
    background-color: #7471cc;
    margin-top: 15%;
}

.nav-pills .nav-link.active,
.show>.nav-pills .nav-link{
    background: #000000 !important
}

a:link {
    color:#ffffff;
}
a:visited {
    color:#ffffff;
}
a:active {
    color:#ffffff;
}
a:hover {
    color:#ffffff;
}

input .btn .btn-success {
    background:#161616 !important
}

.btn-success {
    background-color: #043a4b !important;
    border-color: #367d92 !important;
}

.btn-success:hover {
    background-color: #367d92 !important;
    border-color: #043a4b !important;
}

.btn-success:active:hover {
    background-color: #367d92 !important;
    border-color: #043a4b !important;
}

.btn-outline-success{
    color: #fff !important;
    border-color: #fff !important;
}