

body{
    background-color: #352b2b;
    color: white; 
}
div#conMenu{
    width: 75%;
    float: right;
}

div#sinMenu{
    width: 100%;
}
div#menu{
    width: 20%;
    float: left;
}
div#navbar{
    padding-top: 5px;
    width: 80%;
    float: left;
    font-size: larger;
    padding-right: 10%;
}
div#izq{
    width: 50%;
    float: left;
    padding-right: 5%;
    padding-left: 15%;
}
div#der{
    width: 50%;
    float: right;
    background-color: #453b3b;
    padding-left: 4%;
    margin-right: 10%;
    padding-right: 10%;
    padding-bottom: 2%;
}
h1{
    text-align: center;
}
