<div class="row">
	<div class="col-sm-3">
		<app-sidebar></app-sidebar>
	</div>
	<div class="col-sm-7">
		<div class="row">
			<div class="col-sm-2">
				<i class="fas fa-heart fa-7x"></i>
			</div>
			<div class="col-sm-7">
				<h3>tituloPlaylist</h3>
				<h3>autorPlaylist</h3>
				<h3>duracionPlaylist</h3>
			</div>
		</div>
		<div class="container">
			<table class="table table-dark table-hover">
				<thead>
					<tr>
						<th>Imagen</th>
						<th>Título</th>
						<th>Duración</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><i class="fas fa-music"></i></td>
						<td>titulo canción</td>
						<td>duración de la canción</td>
					</tr>
					<tr>
						<td><i class="fas fa-music"></i></td>
						<td>titulo canción</td>
						<td>duración de la canción</td>
					</tr>
					<tr>
						<td><i class="fas fa-music"></i></td>
						<td>titulo canción</td>
						<td>duración de la canción</td>
					</tr>
					<tr>
						<td><i class="fas fa-music"></i></td>
						<td>titulo canción</td>
						<td>duración de la canción</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<nav class="container fixed-bottom navbar-dark bg-dark">
  <app-reproductor></app-reproductor>
</nav>