<div id="izq">
    <div class="col-lg-8">
        <form #subirCancion="ngForm" (ngSubmit)="onSubmit2()" class="col-lg-16">
            <p>
                <label>Nombre de la canción:</label>
                <input type="text" name="nombreC" #name="ngModel" class="form-control" [(ngModel)]="cancion.nombre" required />
            </p>
            <p>
                <label>Subir canción:</label>
                <input type="file" placeholder="Subir canción..."  />
            </p>
            <p>
                <label>Género:</label>
                <input type="text" name="genero" #genero="ngModel" class="form-control" [(ngModel)]="cancion.genero" required />
            </p>
            <input type="submit" value="AÑADIR CANCIÓN" class="btn btn-success" [disabled]="!subirCancion.form.valid"/>
        </form> 
        <br/>
        <br/>
        <div class="alert alert-success" *ngIf="status == 'success'">
            SU álbum ha sido creado!
        </div>
        <div class="alert alert-danger" *ngIf="status == 'error'">
            Error al crear álbum.
        </div>
        <form #subirAlbum="ngForm" (ngSubmit)="onSubmit()" class="col-lg-16">
            <p>
                <label>Nombre del álbum:</label>
                <input type="text" name="nombre" #name="ngModel" class="form-control" [(ngModel)]="album.nombre" required />
                <span *ngIf="!name.valid && name.touched" >El nombre es obligatorio.</span>
            </p>
            <p>
                <label>Imagen del álbum:</label>
                <br/>
                <input type="file" placeholder="Subir foto..."/>
            </p>
            <p>
                <label>Fecha:</label>
                <input type="date" name="fecha" #fecha="ngModel" class="form-control" [(ngModel)]="album.fecha" required />
            </p>
            <input type="submit" value="SUBIR ÁLBUM" class="btn btn-success" [disabled]="!subirAlbum.form.valid" />
        </form> 
    </div>
</div>
