<h1 class="h1-strong">{{title}} a {{tituloPodcast}}</h1>
<br/>
<br/>
<div id="izq" class="col-lg-8">
    <form #subirCapitulo="ngForm" (ngSubmit)="uploadCap()" class="col-lg-16">
        <p>
            <label>Nombre del capítulo:</label>
            <input type="text" name="name" #name="ngModel" class="form-control" [(ngModel)]="nombreCapitulo" required />
        </p>
        <div style="text-align:center">
            <div [innerHtml]='msg'></div>
            <label>
                <input type="file" (change)="selectFile($event)">
                </label>
        </div>
        <div class="alert alert-danger" *ngIf="status == 'error'">
            El capítulo no se ha podido añadir.
        </div>
        <input type="submit" value="AÑADIR CANCIÓN" class="btn btn-success" [disabled]="!selectedFiles || !subirCapitulo.form.valid"/>
    </form>
</div>

<div id="izq" >
    <div class="container">
        <table class="table table-dark table-hover">
            <thead>
                <tr>
                    <th>Imagen</th>
                    <th>Título</th>
                </tr>
            </thead>
            <tbody *ngFor="let cap of caps" >
                <tr>
                    <td><i class="fas fa-music"></i></td>
                    <td>{{cap.nombre}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="alert alert-danger" *ngIf="status == 'errorV'">
        No se puede subir un álbum sin canciones.
    </div>
    <input type="submit" value="Finalizar" (click)="finalizar()" class="btn btn-success"/>
</div>
