<div id="menu">
	<div class="col-9">
	  <a class="text-light" routerLink="/VerUsuario" (click)="localVer()">
		<div class="container text-center">
			<img [src]="userPhoto" class="img-responsive" style="width:100px !important; height:100px !important"/>
			<h3>{{identity.nombre}}</h3>
		</div>
	  </a>
	  <ul ngbNav #nav="ngbNav" class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
		<li ngbNavItem>
		  <a class="nav-link" routerLink="/Principal">Principal
			<img src="assets/home.png" width=20px height=20px padding-left=50px>
		  </a>
		</li>
		<li ngbNavItem>
		  <a class="nav-link" routerLink="/Buscar">Buscar
			<img src="assets/lupa.png" width=20px height=20px padding-left=50px>
		  </a>
		</li>
		<li ngbNavItem>
		  <a class="nav-link" routerLink="/Biblioteca">Biblioteca
			<img src="assets/books.png" width=20px height=20px padding-left=50px>
		  </a>
		</li>
		<li ngbNavItem>
		  <a class="nav-link" routerLink="/Seguidos">Seguidos
			<img src="assets/user.png" width=20px height=20px padding-left=50px>
		  </a>
		</li>
		<li ngbNavItem>
		  <a class="nav-link" (click)="logout()">Cerrar sesión</a>
		</li>
	  </ul>
  </div>
</div> 

<div class="row">
	<div class="col-sm-9" >
		<div class="row">
			<div class="col-sm-2">
				<img src="podcast.foto" alt="assets/podcast.png" class="img-responsive" style="width:120px !important; height:120px !important"/>
			</div>
			<div class="col-sm-7">
				<h3>{{podcast.nombre}}</h3>
				<h3>{{podcast.autor}}</h3>
				<h3>{{podcast.fecha}}</h3>
			</div>
			<div *ngIf="seguido()==0" >
				<input type="submit" value="Seguir" (click)="seguir()" class="btn btn-success" />
			</div>
			<div *ngIf="seguido()==1">
				<input type="submit" value="Dejar de seguir" (click)="dejarSeguir()" class="btn btn-success" />
			</div>
		</div>
		<div class="container" *ngIf="capitulos">
			<table class="table table-dark table-hover">
				<thead>
					<tr>
						<th>Imagen</th>
						<th>Título</th>
						<th>Autor</th>
					</tr>
				</thead>
				<tbody *ngFor="let cap of capitulos">
					<tr>
						<td><i class="fas fa-music"></i></td>
						<td>{{cap.nombre}}</td>
						<td>{{cap.autor}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<nav class="container fixed-bottom navbar-dark bg-dark">
  <app-reproductor></app-reproductor>
</nav>
