<div class="row" id="logo" >
	<div class="col-sm-3" >
    <div>
      <img src="assets/logo.jpeg" class="img-responsive" style="width:500px !important; height:300px !important"/>
    </div>
    <br/>
    <div id="botones">
      <input type="submit" value="Iniciar sesión" routerLink="/Login" class="btn btn-success" />
    </div>
    <br/>
	  <div id="botones">
      <input id="registro" type="submit" value="Registrarse" routerLink="/Registro" class="btn btn-success" />
    </div>
  </div>
</div>

