<div id="menu">
	<div class="col-9">
	  <a class="text-light" routerLink="/VerUsuario" (click)="localVer()">
		<div class="container text-center">
			<img [src]="userPhoto" alt=lo class="img-responsive" style="width:100px !important; height:100px !important"/>
			<h3>{{identity.nombre}}</h3>
		</div>
	  </a>
	  <ul ngbNav #nav="ngbNav" class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
		<li ngbNavItem>
		  <a class="nav-link" routerLink="/Principal">Principal
			<img src="assets/home.png" width=20px height=20px padding-left=50px>
		  </a>
		</li>
		<li ngbNavItem>
		  <a class="nav-link" routerLink="/Buscar">Buscar
			<img src="assets/lupa.png" width=20px height=20px padding-left=50px>
		  </a>
		</li>
		<li ngbNavItem>
		  <a class="nav-link active" routerLink="/Biblioteca">Biblioteca
			<img src="assets/books.png" width=20px height=20px padding-left=50px>
		  </a>
		</li>
		<li ngbNavItem>
		  <a class="nav-link" routerLink="/Seguidos">Seguidos
			<img src="assets/user.png" width=20px height=20px padding-left=50px>
		  </a>
		</li>
		<li ngbNavItem>
		  <a class="nav-link" (click)="logout()" >Cerrar sesión</a>
		</li>
	  </ul>
  </div>
</div> 




<div class="row">
	<div class="col-sm-10">
		<div id="menuBiblio" class="btn-group">
		 <button type="button" (click)="select = 1; mostrarListas();" class="btn btn-outline-secondary text-light">Playlists</button>
		 <button type="button" (click)="select = 2" class="btn btn-outline-secondary text-light">Artistas</button>
		 <button type="button" (click)="select = 3; mostrarAlbums();" class="btn btn-outline-secondary text-light">Álbumes</button>
		 <button type="button" (click)="select = 4" class="btn btn-outline-secondary text-light">Podcasts</button>
	   </div> 

	   <div id="listaBiblio" class="container-fluid">
		<div class="row" *ngIf="select == 1" >
			<div id="celdaBiblio" class="col-xs-10" *ngFor="let lista of listas" >
				<a class="text-light" routerLink="/VerPlay" (click)="localL(lista)">
					<div class="container text-center">
							<img [src]="foto(lista)" class="img-responsive" style="width:85px !important; height:85px !important"/>
							<h6>{{lista.nombre.substr(0, 11)}}</h6>
					</div>
				</a>
			</div>
			<div id="celdaBiblio" class="col-xs-10" *ngFor="let lista of listasPropias" >
				<a class="text-light" routerLink="/VerPlay" (click)="localL(lista)">
					<div class="container text-center">
							<img [src]="foto(lista)" class="img-responsive" style="width:85px !important; height:85px !important"/>
							<h6>{{lista.nombre.substr(0, 11)}}</h6>
					</div>
				</a>
			</div>
		</div>
		<div class="row" *ngIf="select == 2" >
			<div id="celdaBiblio" class="col-xs-9" *ngFor="let usuario of usuarios">
				<a class="text-light" routerLink="/VerUsuario" (click)="localU(usuario)">
					<div class="container text-center">
							<img [src]="foto(usuario)" class="img-responsive" style="width:85px !important; height:85px !important"/>
							<h6>{{usuario.nombre.substr(0, 11)}}</h6>
					</div>
				</a>
			</div>
		</div>
		<div class="row" *ngIf="select == 3" >
			<div id="celdaBiblio" class="col-xs-9" *ngFor="let album of albums">
				<a class="text-light" routerLink="/VerAlbum" (click)="localA(album)">
					<div class="container text-center">
							<img [src]="foto(album)" class="img-responsive" style="width:85px !important; height:85px !important"/>
							<h6>{{album.nombre.substr(0, 11)}}</h6>
					</div>
				</a>
			</div>
		</div>
		<div class="row" *ngIf="select == 4" >
			<div id="celdaBiblio" class="col-xs-9" *ngFor="let podcast of podcasts">
				<a class="text-light" routerLink="/Verpodcast" (click)="localP(podcast)">
					<div class="container text-center">
							<img [src]="foto(podcast)" class="img-responsive" style="width:85px !important; height:85px !important"/>
							<h6>{{podcast.nombre.substr(0, 11)}}</h6>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>