<app-sidebar></app-sidebar>
<div class="row">
	<div class="col-sm-10">
		<div id="menuBiblio" class="btn-group">
		 <button type="button" (click)="select = 1; mostrarListas();" class="btn btn-outline-secondary text-light">Playlists</button>
		 <button type="button" (click)="select = 2" class="btn btn-outline-secondary text-light">Artistas</button>
		 <button type="button" (click)="select = 3; mostrarAlbums();" class="btn btn-outline-secondary text-light">Álbumes</button>
		 <button type="button" (click)="select = 4" class="btn btn-outline-secondary text-light">Podcasts</button>
	   </div> 

	   <div id="listaBiblio" class="container-fluid">
		<div class="row" *ngIf="select == 1" >
			<div id="celdaBiblio" class="col-xs-10" *ngFor="let lista of listas" >
				<a class="text-light" routerLink="/VerPlay" (click)="localL(lista)">
					<div class="container text-center" *ngIf="!lista.foto">
							<img src="assets/portadas/trench.jpg" class="img-responsive" style="width:85px !important; height:85px !important"/>
							<h5>{{lista.nombre}}</h5>
					</div>
					<div class="container text-center" *ngIf="lista.foto">
							<img src="lista.foto" class="img-responsive" style="width:85px !important; height:85px !important"/>
							<h5>{{lista.nombre}}</h5>
					</div>
				</a>
			</div>
			<div id="celdaBiblio" class="col-xs-10" *ngFor="let lista of listas">
				<a class="text-light" routerLink="/VerPlay" (click)="localL(lista)">
					<div class="container text-center" *ngIf="!lista.foto">
							<img src="assets/portadas/trench.jpg" class="img-responsive" style="width:85px !important; height:85px !important"/>
							<h5>{{lista.nombre}}</h5>
					</div>
					<div class="container text-center" *ngIf="lista.foto">
							<img src="lista.foto" class="img-responsive" style="width:85px !important; height:85px !important"/>
							<h5>{{lista.nombre}}</h5>
					</div>
				</a>
			</div>
		</div>
		<div class="row" *ngIf="select == 2" >
			<div id="celdaBiblio" class="col-xs-9" *ngFor="let usuario of usuarios">
				<a class="text-light" routerLink="/VerUsuario" (click)="localU(usuario)">
					<div class="container text-center" *ngIf="!usuario.foto">
							<img src="assets/portadas/trench.jpg" class="img-responsive" style="width:85px !important; height:85px !important"/>
							<h5>{{usuario.nombre}}</h5>
					</div>
					<div class="container text-center" *ngIf="usuario.foto">
							<img src="usuario.foto" class="img-responsive" style="width:85px !important; height:85px !important"/>
							<h5>{{usuario.nombre}}</h5>
					</div>
				</a>
			</div>
			<div id="celdaBiblio" class="col-xs-9" *ngFor="let usuario of usuarios">
				<a class="text-light" routerLink="/VerUsuario" (click)="localU(usuario)">
					<div class="container text-center" *ngIf="!usuario.foto">
							<img src="assets/portadas/trench.jpg" class="img-responsive" style="width:85px !important; height:85px !important"/>
							<h5>{{usuario.nombre}}</h5>
					</div>
					<div class="container text-center" *ngIf="usuario.foto">
							<img src="usuario.foto" class="img-responsive" style="width:85px !important; height:85px !important"/>
							<h5>{{usuario.nombre}}</h5>
					</div>
				</a>
			</div>
		</div>
		<div class="row" *ngIf="select == 3" >
			<div id="celdaBiblio" class="col-xs-9" *ngFor="let album of albums">
				<a class="text-light" routerLink="/VerAlbum" (click)="localA(album)">
					<div class="container text-center" *ngIf="!album.foto">
							<img src="assets/portadas/trench.jpg" class="img-responsive" style="width:85px !important; height:85px !important"/>
							<h5>{{album.nombre}}</h5>
					</div>
					<div class="container text-center" *ngIf="album.foto">
							<img src="album.foto" class="img-responsive" style="width:85px !important; height:85px !important"/>
							<h5>{{album.nombre}}</h5>
					</div>
				</a>
			</div>
			<div id="celdaBiblio" class="col-xs-9" *ngFor="let album of albums">
				<a class="text-light" routerLink="/VerAlbum" (click)="localA(album)">
					<div class="container text-center" *ngIf="!album.foto">
							<img src="assets/portadas/trench.jpg" class="img-responsive" style="width:85px !important; height:85px !important"/>
							<h5>{{album.nombre}}</h5>
					</div>
					<div class="container text-center" *ngIf="album.foto">
							<img src="album.foto" class="img-responsive" style="width:85px !important; height:85px !important"/>
							<h5>{{album.nombre}}</h5>
					</div>
				</a>
			</div>
		</div>
		<div class="row" *ngIf="select == 4" >
			<div id="celdaBiblio" class="col-xs-9" *ngFor="let podcast of podcasts">
				<a class="text-light" routerLink="/Verpodcast" (click)="localP(podcast)">
					<div class="container text-center" *ngIf="!podcast.foto">
							<img src="assets/portadas/trench.jpg" class="img-responsive" style="width:85px !important; height:85px !important"/>
							<h5>{{podcast.nombre}}</h5>
					</div>
					<div class="container text-center" *ngIf="podcast.foto">
							<img src="podcast.foto" class="img-responsive" style="width:85px !important; height:85px !important"/>
							<h5>{{podcast.nombre}}</h5>
					</div>
				</a>
			</div>
			<div id="celdaBiblio" class="col-xs-9" *ngFor="let podcast of podcasts">
				<a class="text-light" routerLink="/Verpodcast" (click)="localP(podcast)">
					<div class="container text-center" *ngIf="!podcast.foto">
							<img src="assets/portadas/trench.jpg" class="img-responsive" style="width:85px !important; height:85px !important"/>
							<h5>{{podcast.nombre}}</h5>
					</div>
					<div class="container text-center" *ngIf="podcast.foto">
							<img src="podcast.foto" class="img-responsive" style="width:85px !important; height:85px !important"/>
							<h5>{{podcast.nombre}}</h5>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>