<input type="submit" value="Principal" routerLink="/Principal" class="btn btn-success" />
<div id="conMenu" >
    <div class="col-lg-8">
        <h1 class="h1-strong">{{title}}</h1>
        <form #changeNombreForm="ngForm" (ngSubmit)="cambiarNombre()" class="col-lg-16" >
            <p>
                <label>Nombre:</label>
                <input type="text" value="{{identity.nombre}}" name="nombre" #name="ngModel" class="form-control" [(ngModel)]="newName" required />
            </p>
            <input  type="submit" value="Cambiar nombre" class="btn btn-success" />
        </form>
        <form #changeNickForm="ngForm" (ngSubmit)="cambiarNick()" class="col-lg-16" >
            <p>
                <label>Nombre de usuario:</label>
                <input type="text" value="{{identity.nick}}" name="nick" #nick="ngModel" class="form-control" [(ngModel)]="newNick" required />
            </p>
            <input  type="submit" value="Cambiar nick" class="btn btn-success" />
        </form>
        <form #changePassForm="ngForm" (ngSubmit)="cambiarPass()" class="col-lg-16" >
            <p>
                <label>Contraseña:</label>
                <input type="password" name="pass" #contrasena="ngModel" class="form-control" [(ngModel)]="myPassA" required />
            </p>
            <p>
                <label>Nueva contraseña:</label>
                <input type="password" name="pass" #contrasena="ngModel" class="form-control" [(ngModel)]="myPassB" required />
            </p>
            <input  type="submit" value="Cambiar contraseña" class="btn btn-success" />
        </form>
        <br/>
        <br/>
        <h1>Eliminar cuenta</h1>
        <form #DeleteForn="ngForm" (ngSubmit)="delete()" class="col-lg-16" >
            <p>
                <label>Introduzca su correo, por favor:</label>
                <input type="email" name="email" #email="ngModel" class="form-control" [(ngModel)]="myEmail" required />
            </p>
            <p>
                <label>Introduzca su contraseña, por favor:</label>
                <input type="password" name="pass" #pass="ngModel" class="form-control" [(ngModel)]="myPassA" required />
            </p>
            <p>
                <label>Vuelva a introducir su contraseña, por favor:</label>
                <input type="password" name="pass" #pass="ngModel" class="form-control" [(ngModel)]="myPassB" required />
            </p>
            <input  type="submit" value="ELIMINAR CUENTA" class="btn btn-danger" />
            <br/>
            <br/>
            <br/>
            <br/>
        </form>
    </div>
</div>

