<div id="conMenu" >
    <div class="col-lg-8">
        <h1 class="h1-strong">{{title}}</h1>
        <br/>

        <form class="col-lg-16">
            <p>
                <label>Nombre:</label>
                <input type="text" name="nombre" class="form-control" required />
            </p>
            <p>
                <label>Apellidos:</label>
                <input type="text" name="apellidos" class="form-control" required />
            </p>
            <p>
                <label>Correo:</label>
                <input type="email" name="correo" class="form-control" required />
            </p>

            <p>
                <label>Fecha de nacimiento:</label>
                <input type="datetime" name="fecha" class="form-control" required />
            </p>

            <p>
                <label>Contraseña:</label>
                <input type="password" name="pass" class="form-control" required />
            </p>
            <input  type="submit" value="GUARDAR CAMBIOS" class="btn btn-success" />
        </form> 
        <br/>
    </div>
</div>

