<div id="conMenu" >
    <div class="col-lg-8">
        <h1 class="h1-strong">{{title}}</h1>
        <br/>
        <div class="alert alert-success" *ngIf="status == 'success'">
            Ya estás registrado! Bienvenido!
        </div>
        <div class="alert alert-danger" *ngIf="status == 'error'">
            Error al registrarse. Este usuario ya existe.
        </div>
        <form #UserForm="ngForm" (ngSubmit)="onSubmit()" class="col-lg-16" >
            <p>
                <label>Nombre:</label>
                <input type="text" value="{{identity.nombre}}" name="nombre" #name="ngModel" class="form-control" [(ngModel)]="usuario.nombre" required />
            </p>
            <p>
                <label>Nombre de usuario:</label>
                <input type="text" value="{{identity.nick}}" name="nick" #nick="ngModel" class="form-control" [(ngModel)]="usuario.nick" required />
            </p>
            <p>
                <label>Correo:</label>
                <input type="email" value="{{identity.correo}}" name="correo" #correo="ngModel" class="form-control" [(ngModel)]="usuario.correo" required />
            </p>
            <p>
                <label>Fecha de nacimiento:</label>
                <input type="date" name="nacimiento" #nacimiento="ngModel" class="form-control" [(ngModel)]="usuario.nacimiento" required />
            </p>

            <p>
                <label>Contraseña:</label>
                <input type="password" name="pass" #contrasena="ngModel" class="form-control" [(ngModel)]="usuario.contrasena" required />
            </p>

            <!--<div class="image_for_edit" *ngIf="usuario.foto && usuario.foto != 'null' ">
                    <img src=""/>
            </div>
            <p>
                <label>Subir foto de perfil:</label>
                <br/>
                <input type="file" placeholder="Subir foto..." (change)="fileChangeEvent($event)" name="fecha" required />
            </p>-->
            <input  type="submit" value="GUARDAR CAMBIOS" class="btn btn-success" [disabled]="!UserForm.form.valid" />
        </form> 
        <br/>
    </div>
</div>

